<div class="favorites">
  <div class="fav_image">
       <%= image_tag(merchant.image, class: "circle image")%>
  </div>
  <div class="fav_collection">
    <h5>- <%= merchant.name %> -</h5>
       <ul class="collection with-header">
         <li class="collection-item">Location: <%= merchant.location %><br />
         Total Stars: <%= merchant.star_count %></li>
   <% merchant.categories.each do |c| %>
   <li class="collection-item">
     <%= link_to c.name, c.link.url, target: '_blank', hidden_field: c.link.id %>
       <%= link_to '<i class="tiny material-icons">edit</i>'.html_safe, edit_merchant_link_path(merchant, c.link) %>
       <%= link_to '<i class="tiny material-icons">delete_forever</i>'.html_safe, merchant_link_path(merchant, c.link), method: :delete, data: { confirm: 'Are you sure?' }  %>
       </li>
    <% end %>
  </ul>
  </div>
</div>
