<%= render 'layouts/error_messages', object: merchant %>

<div class="form">
<%= form_for([merchant]) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, placeholder: "Sterling Coffee Roasters" %>

  <%= f.label :location %>
  <%= f.text_field :location, placeholder: "Costa Mesa, CA" %>

    <% if !link.nil? %>
      <%= f.fields_for :links, link do |link_builder| %>
        <%= link_builder.label :url, "URL:" %>
        <%= link_builder.text_field :url, placeholder: "https://squareup.com/" %>

        <div class="input-field">
        <%= link_builder.fields_for :category, merchant.links.build.build_category do |c_builder| %>
          <%= c_builder.select :name, ["Loyalty Profile", "Reward", "Receipt"] %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <%= f.submit class: "btn-small" %>
<% end %>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
  $('select').material_select();
});
</script>
