<%= render 'layouts/error_messages', object: merchant %>

<div class="form">
<%= form_for([current_user, merchant]) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, placeholder: "Sterling Coffee Roasters" %>

  <%= f.label :location %>
  <%= f.text_field :location, placeholder: "Costa Mesa, CA" %>

  <%= f.label "Category" %>
  <div class="input-field">
  <%= f.fields_for :categories, merchant.categories.build do |c_builder| %>
    <%= c_builder.select :name, ["Loyalty Profile", "Reward", "Receipt"] %>
  <% end %>
  </div>

  <%= f.fields_for :links, link do |link_builder| %>
    <%= link_builder.label :url, "URL:" %>
    <%= link_builder.text_field :url, placeholder: "https://squareup.com/" %>
  <% end %>

  <%= f.submit class: "btn-small" %>
<% end %>
</div>

 <script type="text/javascript" charset="utf-8">
$(document).ready(function() {
  $('select').material_select();
});
</script>
