<div class="container center merchant-show">
  <div class="merchant-show">
    <div class="left main-merchant">
      <%= image_tag(merchant.image, class:"circle z-depth-3")%><br />
      <h4><%= merchant.name %></h4>
      Location: <%= merchant.location %><br />
      Total Stars: <%= merchant.star_count %><br />
      <br />
      <div class="divider"></div><br />

        <div class="merchant_links">
          <ul id="link_list" class="collection" style="width:200px;max-height:150px;overflow-y:scroll;">
          <% merchant.categories.each do |c| %>
              <li class="collection-item"><%= link_to c.name, c.link.url, target: '_blank', hidden_field: c.link.id %>
                <%= link_to '<i class="tiny material-icons">edit</i>'.html_safe, edit_merchant_link_path(merchant, c.link) %>
                <%= link_to '<i class="tiny material-icons">delete_forever</i>'.html_safe, merchant_link_path(merchant, c.link), method: :delete, data: { confirm: 'Are you sure?' }  %>
              </li>
          <% end %>
          </ul>
        </div>
      </div>
    <br /><br /><br />
    <div class="link_form right form">
      <strong>Add another link!</strong>

      <%= form_for [merchant, merchant.links.build] do |f| %>
        <%= f.label :url, "URL:" %>
        <%= f.text_field :url, placeholder: "https://squareup.com/" %>

        <%= f.hidden_field :merchant_id %>

        <div class="input-field">
          <%= f.fields_for :category, merchant.links.build.build_category do |c_builder| %>
            <%= c_builder.select :name, ["Loyalty Profile", "Reward", "Receipt"] %>
          <% end %>
        </div>

        <%= f.button "Create Link", id:"btn_manage", class: "btn-small create-link" %>
      <% end %>
    </div>
  </div>
</div>
