<h2><%= current_user.email %>'s Loyalty Programs</h2>

<ul>
<% current_user.merchants.each do |merchant| %>
  <li><%= link_to merchant.name, merchant.link.url, target: "_blank" %></li>
  <% binding.pry %>
  <%= link_to "Edit", edit_merchant_path(current_user, merchant) %>
<% end %>
</ul>

<p><%= link_to "New Merchant", new_merchant_path(current_user) %></p>

<p><%= link_to "Log Out", destroy_user_session_path, method: :delete %></p>
