<h2><%= current_user.name %>'s Loyalty Programs</h2>

<div class="input-field">
<% if !Merchant.distinct.pluck(:location).empty? %>
  Filter by location:
  <%= form_tag(merchants_path(current_user), method: "get") do %>
    <%= select_tag "location", options_for_select(Merchant.distinct.pluck(:location)), include_blank: true %>
    <%= submit_tag "Filter" %>
  <% end %>
<% end %>
</div>

<div class="col s6">
  <ul class="collection">
<% @merchants.each do |merchant| %>
  <li class="collection-item avatar">
    <%= image_tag(merchant.image, class:"circle")%>
    <span class="title"><%= link_to merchant.name, merchant.link.url, target: "_blank" %></span>
  <p><%= link_to "Edit", edit_merchant_path(current_user, merchant) %>
  <%= link_to "Delete", merchant_path(current_user, merchant), method: :delete, data: { confirm: 'Are you sure?' }  %></p>
  </li>
<% end %>
  </ul>
</div>

<p><%= link_to "New Merchant", new_merchant_path(current_user) %></p>

<p><%= link_to "Current Favorites", current_favorite_user_path(current_user) %></p>

<p><%= link_to "Log Out", destroy_user_session_path, method: :delete %></p>
