<% if user_signed_in? %>
  <nav class="navbar-fixed" role="navigation">
    <div class="container nav-wrapper">
      <a href="#" class="brand-logo right">
        <%= image_tag("/assets/logo.png", size: "40", class:"center logo_image") %>
      </a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><%= link_to '<i class="material-icons">home</i>'.html_safe, merchants_path(current_user) %></li>
          <li><%= link_to "New Merchant", new_merchant_path(current_user) %></li>
          <li><%= link_to "Favorites", current_favorite_user_path(current_user) %></li>
          <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
      </ul>
    </div>
  </nav>
<% else %>
  <nav class="navbar-fixed" role="navigation">
    <div class="container nav-wrapper">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><%= link_to 'Welcome', root_path, method: :get %></li>
          <li><%= link_to 'About', about_path, method: :get %></li>
          <li><%= link_to 'Sign Up', new_user_registration_path, method: :get %></li>
          <li><%= link_to 'Sign In', new_user_session_path, method: :get %></li>
      </ul>
    </div>
  </nav>

<% end %>
