<!DOCTYPE html>
<html>
  <head>
    <title>Punchcard</title>
    <link rel="shortcut icon" type="image/png" href="/assets/logo.png">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>
    <div style="font-family: 'Quicksand', sans-serif;">


      <%= render 'layouts/nav' %>

      <%= render 'layouts/flash_messages' %>

      <div class="application-body">
        <div class="container">

      <%= yield %>

      </div>
    </div>

    <!-- Materialize -->
    <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
     $('select').material_select();
    });
    </script>

  </body>
</html>
